<mat-toolbar>
  <a class="img-link" routerLink="/employee-overview"
    ><img src="../../../assets/aclue-logo.png" alt="aclue-logo"
  /></a>
  <span class="spacer"></span>
  <a routerLink="/employee-overview" ariaCurrentWhenActive="page">
    <mat-icon routerLinkActive="active" aria-label="Arrow Back Icon"
      >group</mat-icon
    ><span routerLinkActive="active">Employee overview</span></a
  >
  <!-- (5) add routerLink and routerLinkActive to anchor-->
  <a ariaCurrentWhenActive="page"
    ><mat-icon routerLinkActive="active" aria-label="Arrow Back Icon"
      >person_add</mat-icon
    ><span routerLinkActive="active">Add employee</span></a
  >
</mat-toolbar>
