.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

img {
    width: 180px;
}

.error-code-404 {
    font-weight: bold;
    font-size: 32px;
}

.button {
    position: relative;
}